* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* This contains the rules for the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* This specifies the rules for the h1 of the header */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* This adds a color to the seo of the h1 */
header h1 .seo {
    color: #d9dcd6;
}

/* This gives specific rules for the links in the header */
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* This takes the preset option off the ul */
header div ul {
    list-style-type: none;
}

/* This tells the li items to display inline in the header */
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/* This gives the links a specfic color  */
a {
    color: #ffffff;
    text-decoration: none;
}

/* This gives a font size for all paragraphs on the page */
p {
    font-size: 16px;
}

/* This gives the properties and image for the top image of the page */
.content-box1 {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* This gives the properties for the content below the main image  */
.content-box2 {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* This gives the properties for the indivual sections of content-box2 */
.search-engine-optimization, .online-reputation-management, .social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* This gives the properties for the image of the second section of content-box2 */
.online-reputation-management img {
    max-height: 200px;
    float: right;
}

/* This gives the properties for the images of the first and third section of content-box2 */
.search-engine-optimization img, .social-media-marketing img {
    float: left;
    max-height: 200px;
    margin-right: 10px;
}

/* This gives the properties for the h2s of the three sections of content-box2 */
.search-engine-optimization h2, .online-reputation-management h2, .social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* This gives the properties for the content to the right of content-box2  */
.content-box3 {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* This gives the properties for the three sections of content-box3 */
.lead, .brand, .cost {
    margin-bottom: 32px;
    color: #ffffff;
}

/* This gives the properties for the h3s of the three sections of content-box3 */
.lead h3, .brand h3, .cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* This gives the properties for the images of the three sections of content-box3 */
.lead img, .brand img, .cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* This gives the properties for the footer */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* This gives the font size for the h4 of the footer */
footer h4 {
    font-size: 20px;
}
